
<header>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="index.html">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto justify-content-end">
            <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Websites
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="project1.html">Google</a>
                    <a class="dropdown-item" href="project2.html">Yahoo</a>
                    <a class="dropdown-item" href="project3.html">AOL</a>
                    <a class="dropdown-item" href="project4.html">Youtube</a>
                    <a class="dropdown-item" href="project5.html">Facebook</a>
                </div>
            </li>
            <li class="nav-item">
            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
            <li>
            <li class="nav-item">
            <li class="nav-item"><a class="nav-link" href="sitemap.html">Site Map</a></li>
            </li>
        </ul>
    </div>
</nav>
</header>